@font-face {
  font-family: Ico;
  src: url("../fonts/ico.ttf");
}

@font-face {
  font-family: Sans;
  src: url("../fonts/OpenSansCondensedLightItalic.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSansRegular.ttf");
}

@font-face {
  font-family: SansCond;
  src: url("../fonts/OpenSans-CondLight.ttf");
}

@font-face {
  font-family: IcoV2;
  src: url("../fonts/icoV2.ttf");
}