@font-face {
  font-family: Ico;
  src: url("../fonts/ico.ttf");
}

@font-face {
  font-family: Sans;
  src: url("../fonts/OpenSansCondensedLightItalic.ttf");
}

@font-face {
  font-family: OSans;
  src: url("../fonts/OpenSansRegular.ttf");
}