@import "variables";
@import "mixins";
@import "fonts";
@import "keyframes";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $line * 4;
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: {
      color: black;
    }

    #menu {
      flex-grow: 1;

      .menu-item {
        padding: $line / 2 $line;
        color: white;
        text: {
          decoration: none;
          transform: uppercase;
        }
        font: {
          family: Helvatica, sans-serif;
          size: $line * 1.8;
          weight: bold;
        }
        transition: {
          duration: $time;
          timing-function: linear;
        }

        &.current,
        &:hover {
          color: $main;
        }
      }
    }
  }
}