@import "variables";
@import "mixins";
@import "fonts";
@import "keyframes";

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: {
    image: url("../images/bg-2.png");
    position: center;
    attachment: fixed;
    repeat: no-repeat;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    background: {
      color: black;
    }
    z-index: 1000;
    box-shadow: 0 $line / 4 $line / 2 0 white;
    transition: {
      duration: $time;
      timing-function: linear;
    }

    #logo {
      display: block;
      padding: 0;
      width: 20%;
      align-self: center;
    }

    #menu {
      max-width: 60%;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .menu-item {
        color: white;
        text: {
          decoration: none;
          transform: uppercase;
        }
        font: {
          family: $fontOSans;
          size: $line;
        }
        word-break: keep-all;
        word-wrap: normal;
        text-wrap: none;
        transition: {
          duration: $time;
          timing-function: linear;
        }

        &.current,
        &:hover {
          color: $main;
        }
      }
    }
  }

  main {

    #start {
      display: flex;
      align-items: center;

      .content-block {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0 15%;
        background: {
          image: url("../images/bg.png");
          position: center;
          size: auto 100%;
          repeat: no-repeat;
        }
        transition: {
          duration: $time;
          timing-function: linear;
        }

        #tagline {
          position: relative;
          color: black;
          padding: 0;
          margin: 0;
          font: {
            family: $fontOSans;
            size: $line * 4;
            weight: normal;
          }

          .underline  {
            position: absolute;
            bottom: -10%;
            left: 0;
            width: $line * 8;
            height: $line / 2.5;
            background: {
              color: black;
            }
          }
        }
      }
    }

    #services {
      width: 100%;

      #description {
        width: 100%;
        background: {
          color: black;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .content,
        .caption {
          width: 70%;
        }

        .caption {
          margin: $line * 2 0 0 0;
          padding: 0;
          font: {
            weight: normal;
          }
          text-align: right;

          .name {
            font: {
              size: $line * 4;
              family: $fontOSans;
            }
            color: white;
          }

          .ico {
            color: $main;
            font: {
              family: Ico;
              size: $line * 5;
            }
          }
        }

        .content {
          display: flex;
          align-items: center;
          border: 1px solid red;

          .big-letter {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            text-align: left;
            margin: 0 $line * 2 0 0;

            .letter {
              display: block;
              flex-shrink: 1;
              padding: 0;
              margin: 0 0 $line * -7 0;
              font: {
                family: $fontOSans;
                size: $line * 40;
              }
              color: $main;
              text: {
                transform: uppercase;
              }
            }

            .line {
              flex-grow: 1;
              width: $line / 2;
              height: $line * 15;
              background: {
                color: $main;
              }
            }
          }

          .text {
            display: flex;
            flex-direction: column;

            .text-block:nth-of-type(even) {
              align-self: flex-end;
            }

            .text-block:nth-last-of-type(odd) {
              align-self: flex-start;
            }

            .text-block {
              flex-grow: 1;
              color: white;
              width: 50%;
              font: {
                family: $fontOSans;
                size: $line * 2;
              }
              line-height: $line * 2.5;
            }
          }
        }
      }

      #visualization {
        border: 1px solid red;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        figure {

          figcaption {
            color: white;
            font: {
              family: $fontOSans;
              size: $line * 4;
              weight: normal;
            }
          }

          .line {
            background: {
              color: white;
            }
          }

          .ico {
            color: white;
          }
        }
      }
    }
  }
}